<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{shipment.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{shipment.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/shipments}" th:text="#{shipment.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('shipment')}" />
            <form th:action="${T(com.ecom.application.shipment_invoice_service.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='orderId')}" />
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='status', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='parcelServiceName', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='paymentMethod', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='orderPrice')}" />
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='trackingId')}" />
                <div th:replace="~{fragments/forms::inputRow(object='shipment', field='deliveryDate')}" />
                <input type="submit" th:value="#{shipment.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
